# {{ ansible_managed }}
# Portainer Service
apiVersion: v1
kind: Service
metadata:
  name: portainer-service
  annotations:
    metallb.universe.tf/address-pool: "homelab-services"
spec:
  type: LoadBalancer
  ports:
  - name: http
    port: 80
    targetPort: 9000
{% if portainer_nodeport %}
    nodePort: {{ portainer_nodeport }}
{% endif %}
  - name: https
    port: 443
    targetPort: 9443
{% if portainer_nodeport_https %}
    nodePort: {{ portainer_nodeport_https }}
{% endif %}
  selector:
    app: portainer
